/* html Selectors */

    /* entire body general rules */
    body {
        font-family: 'Roboto',  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #69FFF1;
        margin: 0 auto;
    }

    aside {
        text-align: center; 
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    /* general header rules  */
    header {
        max-width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: #63A46C;
    }

    header img {
        padding: 10px;
        max-width: 7em;
        min-width: 5em;
        width: 15%;
    }


    /* general nav rules */
    nav {
        background-color: #63D471;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 0;
        width: 100%;
        padding: 0%;
    }

    nav ul li {
        width: 100%;
    }

    nav h3 {
        margin: 0em;
        padding: .5em;
        color: black;
    }

    nav div:hover {
        border-bottom: 2px solid #233329;
    }

    /* general main rules */
    main {
        margin: 1em auto;
        padding: .5em;
        max-width: 1280px;
        background-color: #63A46C;
        text-align: center;
    }

    section {
        margin: .5em;
        padding: .5em;
        background-color: #63D471;
    }

    main p {
        text-align: left;
    }

    table, tr, th, td {
        padding: 1em;
        border: 1px solid black;
        border-collapse: collapse;
    }

    table {
        margin: 0 auto;
    }

    /* general footer rules */
    footer {
        padding-top: .5em;
        padding-bottom: .5em;
        width: 100%;
        background-color: #63A46C;
        text-align: center;
    }

    address {
        margin: 1em;
    }

    iframe {
        display: none;
    }

/* class selectors */
    .hidden {
        display: none;
    }
    .navigation li:first-child{
        display: block;
    }

    .navigation li {
        display: none;
    }

    .responsive li {
        display: block;
    }

    .active {
        background-color: #63A46C;
        border-bottom: 3px solid #233329;
    }

    .weather-summary {
        padding: 1em;
        position: absolute;
        top: 10%;
        left: 5%;
        background-color: rgba(70, 130, 180, 0.6);;
        color: white;
        font-weight: bolder;
        text-align: left;
    }

    .weather-summary h3 {
        margin: 0;
    }

/* id selectors */

    #hero {
        position: relative;
    }

    #hero-picture {
        display: block;
        max-width: 100%;
    }

    #hero-image {
        margin: 0 auto;
        display: block;
        max-width: 100%;
    }

    #article-image {
        margin: 1em;
        max-width: 25%;
        min-width: 12em;
        float: right;
    }

    #fiveday-forcast {
        display: none;
    }