// tag selector

header {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    img {
        grid-column: 2/3;
    }

    div {
        grid-column: 3/4;
    }
}

nav {
    a {
        padding: .5em 2em .5em 2em;
    }
}

// class selector 



// id selector

#callAction {
    top: 85%;
    left: 80%;
}

