// tag selector

header {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    img {
        grid-column: 2/3;
    }

    div {
        grid-column: 3/4;
    }
}

nav {
    a {
        width: 90%;
    }
}

// class selector 

.lnk:hover {
    transition: all ease-in-out 350ms;
    transform: translateY(5px) scale(105%);
}

// id selector

#submit, #reset {
    height: 2em;
    width: 10em;
    margin: .3em;
}