// tag selectors

header {
    grid-template-columns: 1fr 2fr 1fr;
}

nav {
    a {
        padding: .25em;
    }
}

form {
    max-width: 50%;
}

// class selectors

// responsive nav styles
.navigation {
    flex-direction: row;
}
.navigation li:first-child{
    display: none;
}

.navigation li {
    font-size: .75em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
}

.submitReset {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.day, .padDays {
    height: 4em;
    display: block;
    float: left;
    width: 12%;
    margin: 2px;
    padding: 5px;
}

.day {
    border: 1px solid black;
}

.padDays {
    border: 1px solid transparent;
}

.endOfWeek {
    width: 100%; 
    clear: both;
    float: none;
}

.firstDay {
    background-color: $steelBlue;
}

.middleDays{
    background-color: $silver;
}

.lastDay {
    background-color: $steelBlue;
}

// id selectors 

#submit, #reset {
    height: 2em;
    width: 8em;
    margin: .3em;
}
