body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 1280px;
    width: 100%;
    margin: 3em auto;
    background-color: lightslategrey;
}

header,
footer {
    color: ivory;
    background-color: green;
}

header {
    height: 10em;
    padding: 1em;
}

main {
    padding: 1em;
    margin: 1em;
    background-color: lightsteelblue;
}

footer {
    height: 100%;
    padding: 1em;
}

h1,
h2,
ul,
p {
    text-align: center;
}

h1 {
    font-size: 4em;
}

ul {
    list-style: none;
}

#profileImage {
    float: right;
    max-width: 150px;
}